
  <div class="introduction">
    <h2>Micro Macramé Classes</h2>

    <h3>
      Learn how to create your own jewelry using a technique called micro
      macrame
    </h3>

    <p>
      I warmly invite you to join my macramé courses! In small, intimate
      groups of up to 5 participants, you can unleash your creativity. All
      necessary materials are provided. Choose the project that brings you
      the most joy and suits your experience level – and let’s create
      something beautiful together!
    </p>
  </div>

  <hr />
<div *ngFor="let course of courseList">
  <app-course [course]="course"></app-course>
</div>

