<div>

<h2>Meet your instructor</h2>

  <hr>

  <div class="image-block">
<img
  src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/135/202/original/20220628_111759.jpg?1721814739"
  alt="Ronja Brazil"
  class="main-picture"
/>
<div class="grid">
  <img
    src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/135/249/original/FB_IMG_1721814524751_2.jpg?1721825329"
    alt="turtle earrings"
  />
  <img
    src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/135/201/original/20220601_190928_2.jpg?1721814731"
    alt="red choker"
  />
  <img
    src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/135/204/original/20220923_140812.jpg?1721814748"
    alt="bracelet"
  />
  <img
    src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/135/205/original/20221109_191637_2.jpg?1721814757"
    alt="macrame in progress"
  />
</div>
  </div>

  <hr>

<p>
  Welcome to my
  <a
    routerLink="/courses"
    class="macramé-classes"
  >macrame classes</a
  >! I'm Ronja, based in Berlin, and I'm excited to share my passion for
  this beautiful craft with you. My journey with macrame began in the most
  unexpected way—learning from a group of Argentinian nomads while
  traveling through the stunning landscapes of Bolivia. This enchanting
  art form captivated me instantly, and I continued my exploration through
  various tutorials and personal projects. Macrame has become more than
  just a craft for me; it's a way to clear my mind, relax, and create
  unique jewelry pieces that reflect my individual style. I am thrilled to
  offer beginner courses in a region where this technique is not widely
  known, creating wonderful moments and beautiful macrame pieces together!
</p>
</div>
