<nav>
  <div>
    <button [routerLink]="['']">Home</button>
    <button [routerLink]="['courses']">Classes</button>
    <button [routerLink]="['about']">About</button>
    <button [routerLink]="['collection']" class="last-button">Collection</button>
    <h1>Learn Micro Macramé</h1>
    <a href="WebsitemacrameDE.html" target="_self" class="flag">
      <i class="flag-icon flag-icon-de"></i>
    </a>
    <a
      href="https://www.facebook.com/LaViajeraMacrame"
      target="_blank"
      class="facebook"
    >
      <i class="fab fa-facebook-f social"></i>
    </a>
    <a
      href="https://www.instagram.com/laviajera_macrame"
      target="_blank"
      class="instagram"
    >
      <i class="fab fa-instagram social"></i>
    </a>
  </div>
</nav>

