<div>
        <span>
          <h2>What is macramé?</h2>
          <hr/>
          <img
            src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/134/802/original/Macrame.png?1721648493"
            alt="macramé pattern"
          />
          <img
            src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/134/810/original/rocknwool-K5K11Yho_lU-unsplash.jpg?1721650859"
            alt="macramé candle lights"
          />
          <img
            src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/134/812/original/rocknwool-7MpaccsE2R4-unsplash.jpg?1721650894"
            alt="macramé decoration"
          />
          <hr/>
        </span>
  <p>
    <strong>Macramé</strong>, an ancient art of knotting, originated with
    the Babylonians and Assyrians and was popularized by Arab weavers in
    the 13th century. It spread to Europe via Mediterranean trade routes
    and became a Victorian household staple. The 1960s and 1970s saw a
    revival during the bohemian movement, and today, macramé is
    experiencing renewed interest thanks to the DIY trend and social
    media. Modern crafters emphasize sustainability, using natural and
    recycled materials to create beautiful, eco-friendly designs.
    <br/>
    <br/>
    Macramé uses a variety of basic knots, such as the
    <em>square knot</em>, <em>half knot</em>,
    <em>lark's head knot</em> and <em>clove hitch</em>, to create
    intricate patterns and designs. This versatile craft can produce an
    array of items, ranging from small accessories like bracelets and
    keychains to large-scale installations and wall hangings. Its
    adaptability and the diversity of patterns make macramé a beloved
    technique for both beginners and experienced crafters.
    <span></span>
  </p>
</div>

<div>
        <span>
          <h2>What is micro macramé?</h2>
          <hr/>
          <img
            src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/134/818/original/FB_IMG_1721651975330.jpg?1721652355"
            alt="macramé pendant"
          />
          <img
            src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/134/803/original/FB_IMG_1721648540537.jpg?1721648638"
            alt="macramé necklace"
          />
          <img
            src="https://s3.amazonaws.com/shecodesio-production/uploads/files/000/134/821/original/FB_IMG_1721652261950_2.jpg?1721652628"
            alt="macramé necklaces"
          />
          <hr/>
        </span>
  <p>
    <strong>Micro macramé</strong> is a delicate form of macramé that uses
    fine cords and threads to create intricate and detailed designs. This
    technique is often used to craft jewelry, such as bracelets,
    necklaces, and earrings, allowing for more precision and complexity
    than traditional macramé. By incorporating beads, gemstones, and other
    small embellishments, micro macramé artists can produce highly
    detailed and ornate pieces. The finesse required for micro macramé
    makes it a favorite among crafters seeking to create elegant and
    refined accessories.
    <br/>
    <br/>
    Taking part in our
    <a
      href="WebsitemacrameEN.html"
      target="_blank"
      class="macramé-classes"
    >micro macramé classes</a
    >
    offers more than just the acquisition of a new skill; it provides a
    unique and fulfilling experience. Engaging in this delicate art form
    promotes relaxation and mindfulness, allowing you to unwind and focus
    on the intricate patterns, creating a sense of tranquility and
    accomplishment. The classes also present an excellent opportunity to
    bond with friends and like-minded individuals, sharing creativity and
    inspiration in a supportive and encouraging environment. Whether
    you’re looking to master a new craft or simply enjoy a peaceful and
    collaborative activity, our micro macramé courses offer a rewarding
    and enriching experience.
  </p>
</div>
<hr>
<ng-container *ngIf="nextCourse">
  <div>
    <h3>Join our next course:</h3>
    <app-course [course]="nextCourse"></app-course>
    <p>Or have a look at our other classes:</p></div>
</ng-container>
<button (click)="navigateToCourses()">Browse macramé classes</button>



