<h2>Anmeldung</h2>


<div *ngIf="!hasSubmitted && course.participants.length >= 5">This course is already completely booked. Please
  check again later or register for a different course.
</div>

<div *ngIf="!hasSubmitted && course.participants.length<5 else thanks">
  <form [formGroup]="signUpForm" (ngSubmit)="submitRegistration()">
    <label for="firstname">Vorname: </label><input type="text" formControlName="firstname" id="firstname"><br>
    <label for="lastname">Nachname: </label><input type="text" formControlName="lastname" id="lastname"><br>
    <label for="email">Email Adresse: </label><input type="email" formControlName="email" id="email"><br>
    <button type="submit" [disabled]="signUpForm.invalid">absenden</button>
  </form>
</div>

<ng-template #thanks>
  <div>
    <h3>Thank you for signing up!</h3>
    <button (click)="registerAgain()" [disabled]="course.participants.length>=5">Register another person</button>
  </div>
</ng-template>

<button type="button" (click)="back()">zurück</button>
