input{
  border-radius: 8px;
}

button{
  margin-top: 20px;
}

label{
  text-align: justify;
  display: inline-block;
  min-width: 120px;
  margin-bottom: 5px;
}

div{
 margin: 0 auto;
  width: 300px;

}
